<div id="<%= dom_id property %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Building name:</strong>
    <%= property.building_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Street address:</strong>
    <%= property.street_address %>
  </div>
  <div>
    <strong class="block font-medium mb-1">City:</strong>
    <%= property.city %>
  </div>
  <div>
    <strong class="block font-medium mb-1">State:</strong>
    <%= property.state %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Zip:</strong>
    <%= property.zip %>
  </div>
</div>
